*
{
    margin:0;
    padding:0;
}
.cabeçalho
{
    background-color:#edb2f5;
    color:white;
    display:flex;
    justify-content: space-arround;
    padding: 24px 0;
}
.cabeçalho-imagem
{
    width:20%;
}
.cabeçalho-lista-item
{
    display:inline-block;
    Margin: 0 16px;
    padding: 24px 0;
    Font-size: 24px;
    } 